@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KalamehWebBlack";
  src: url(./assets/font/woff/KalamehWeb_Black.woff) format("woff"),
    url(./assets/font/ttf/KalamehWeb_Black.ttf) format("truetype");
  font-weight: inherit;
  font-style: normal;
}

@font-face {
  font-family: "KalamehWebRegular";
  src: url(./assets/font/woff/KalamehWeb_Regular.woff) format("woff"),
    url(./assets/font/ttf/KalamehWeb_Regular.ttf) format("truetype");
  font-weight: inherit;
  font-style: normal;
}

@font-face {
  font-family: "KalamehWebBold";
  src: url(./assets/font/woff/KalamehWeb_Bold.woff) format("woff"),
    url(./assets/font/ttf/KalamehWeb_Bold.ttf) format("truetype");
  font-weight: inherit;
  font-style: normal;
}

body {
  direction: rtl;
  font-family: KalamehWebBold !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
